#footer {
    width: 90% !important;
    height: calc(100% - 90px) !important;
    position: relative !important;
    top: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 0%);
    background: transparent !important;
    backdrop-filter: blur(0px) !important;
    display: flex;
    flex-direction: column;

}


.rightside p {
    position: relative;
    width: 100%;
    text-align: center;
}

.leftside,
.rightside {
    width: 100% !important;
    padding: 0px !important;
    height: 50% !important;

}




.social {
    width: 100%;
    height: 350px;
    background: #0000007d;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px;
    justify-content: start !important;
    padding: 5px 10px 20px;
}

.scontainer img {
    aspect-ratio: 1/1;
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: -3px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(350%) hue-rotate(84deg) brightness(118%) contrast(100%);
}

.scontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    padding: 10px 10px;
    align-items: center;
    margin-bottom: 5px;
}

.scontainer .fa-instagram{
    font-size: 25px !important;
    color: #FA57C8;
}
.scontainer .fa-facebook{
    font-size: 25px !important;
    color: #4389f9;
}
.scontainer .fa-linkedin{
    font-size: 25px !important;
    margin-right: 3px;
    margin-top: 4px;
    color: #4389f9;
}
.scontainer .fa-discord{
    font-size: 21px !important;
    color: #ffffff;
    margin-top: 6px;
}
.scontainer .fa-github{
    font-size: 25px !important;
    color: #ffffff;
}
.scontainer .fa-x-twitter{
    font-size: 21px !important;
    color: #fff;
    margin-top: 6px;
}

.scontainer p{
    font-size: 20px !important;
    margin-left: 10px;
    font-weight: 700;
    color: #fff;
    margin-top: -1px;
    text-decoration: none;
}

/* .scontainer.x p{
    margin-top: -10px;

} */

.scontainer a:hover,
.scontainer a:focus
{
    text-decoration: none;
}

.social a {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.social-links {
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

#toast {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -180%);
    background-color: #1e232a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 100px;
    z-index: 400000000000000000000000;
    font-weight: 700;
    opacity: 0;
    user-select: none;
}

.fa-clipboard {
    margin-right: 8px;

}

@keyframes toast {

    0%,
    75% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }
}


.handletitle p{
    color: #7c7c7c;
    padding: 0;
    margin: 3px 0px;
    padding-left: 5px;
    
}

.handletitle {
    border-bottom: 2px solid rgb(56, 51, 51);
    margin-bottom: 12px;
}

